@import '../../params.less';

// General RollBoard style.
.rollBoard {
  position: relative;

  height: 262px;
  @media @desktop {
    height: 314px;
  }

  .keepBar {
    background-color: 1.5*@bgColor;
    background-image: linear-gradient(140deg, @keepBarColor, @keepBarColor*0.85);
    border-top: 3px solid 0.86*@keepBarBorder;
    border-right: 3px solid 1.08*@keepBarBorder;
    border-bottom: 3px solid 1.11*@keepBarBorder;
    border-left: 3px solid 0.90*@keepBarBorder;
    border-radius: 20px;
    color: white;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);

    height: 110px;
    top: @keepBarTopPhone;
    width: ~"calc(100% - 20px)";
    @media @desktop {
      height: 126px;
      top: @keepBarTopDesktop;
      width: ~"calc(100% - 40px)";
    }

    &::after {
      content: "Keep";
      left: 50%;
      position: absolute;
      top: 3px;
      transform: translate(-50%, 0);
    }
  }

  .diceContainer {
    left: 50%;
    height: 0;
    position: absolute;
    top: 0%;
    transform: translate(-50%, 0);
    width: 0;
    z-index: 10;

    .dice {
      position: absolute;
    }
  }

  .rollButton {
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;

    top: @keepBarTopPhone - 46px;
    @media @desktop {
      top: @keepBarTopDesktop - 46px;
    }

    &.aside {
      transform: none;
      
      left: 6%;
      top: @keepBarTopPhone - 52px;
      @media @desktop {
        left: 14%;
        top: @keepBarTopDesktop - 52px;
      }
    }

    .rollButtonHotkey {
      left: 50%;
      position: absolute;
      top: 80%;
      transform: translateX(-50%);
    }
  }

  // Give the dice the correct top-coordinate.
  .dice.unselected {
    top: 20px;
    @media @desktop {
      top: 30px;
    }
  }
  .dice.selected {
    top: @keepBarTopPhone + 40px;
    @media @desktop {
      top: @keepBarTopDesktop + 44px;
    }
  }
  
  .leftCoordinateStyle(12px, @diceSizeSmall);
  @media @desktop {
    .leftCoordinateStyle(24px, @diceSizeLarge);
  }
}

// And here is the mixin for generating the correct style for the left-coordinate of the dice.
.leftCoordinateStyle(@diceSeparation, @diceSize) {
  // Loop through all the numbers of dice (5,4,3,2,1,0) that may have been selected.
  .selectedLoop (@numSelected) when (@numSelected >= 0) {
    &.selected@{numSelected} {
      // Iterate over unselected classes.
      .diceUnselectedLoop (@i) when (@i >= 0) {
        .dice.unselected@{i} {
          left: (@i - (5 - @numSelected - 1)/2) * @diceSeparation + (@i - (5 - @numSelected)/2) * @diceSize;
        }
        .diceUnselectedLoop(@i - 1);
      }
      .diceUnselectedLoop(5 - 1 - @numSelected);

      // Iterate over selected classes.
      .diceSelectedLoop (@i) when (@i >= 0) {
        .dice.selected@{i} {
          left: (@i - (@numSelected - 1)/2) * @diceSeparation + (@i - @numSelected/2) * @diceSize;
        }
        .diceSelectedLoop(@i - 1);
      }
      .diceSelectedLoop(@numSelected - 1);
    }
    .selectedLoop(@numSelected - 1);
  }
  .selectedLoop(5);
}